body {
  margin: 0;
  font-family: dejavu sans mono, monospace;
  padding: 0;
  background-image: linear-gradient(to right, rgb(20, 188, 254) , rgb(255, 30, 214));
  /* Link for background color: https://www.w3schools.com/css/css3_gradients.asp */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
